<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ken.main">

    <application>
        <!-- 在自己组件中注册Activity -->
        <activity android:name="cn.ken.main.ui.activity.MainActivity" />
    </application>

</manifest>